
<div class="meat">
<h1>Contact</h1>

<h3>Today I learned this is a real place, tho more lush than the OC. I've made a huge tiny mistake.</h3>

<p>I think the only time you cooked for us was the morning Rosa's mom died. You gave us cereal in an ashtray. These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. It's as Ann as the nose on plain's face. Hey, it was one night of wild passion! And yet you didn't notice her body? I like to look in the mirror. If mother sees this, she will blow a cow. I hear the jury's still out on science. I know she's a brownish area! With points! And I love her! If this tableau I recreate, perhaps I can re-snare my mate.</p>
</div>